@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.NavBar {
  height: fit-content;
  background-color: #3a0ca3;

  position: sticky;
  float: left;
  top: 0;
  width: 100%;

  /* bounding box */
  /* margin: 5px; */
  /* border: 3px solid yellow; */
  padding: 12px;

  z-index: 69420;
}

.NavBar .NavBar_container {
  /* flexbox */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  height: fit-content;
  z-index: 69420;

  /* bounding box */
  margin: 2px;
  /* border: 3px solid yellow; */
  border: 2px;
  padding: 2px;
}

.NavBar .logo {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.NavBar .NavBar_ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  /* bounding box */
  margin: 2px;
  /* border: 3px solid gold; */
  border: 2px;
  padding: 2px;
}

.NavBar .NavBar_ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;

  font-size: 1.15em;
  font-weight: bold;

  /* bounding box */
  margin: 2px;
  margin-top: 5px;
  /* border: 3px solid gold; */
  border: 2px;
  padding: 2px;
  margin-left: 20px;
}

.NavBar a:visited,
a:link {
  color: white;
  text-decoration: none;
}

.NavBar a:hover,
.NavBar a:active,
.NavBar a.active {
  color: whitesmoke;
  padding-bottom: 0.25rem;
  border-bottom: 2px dotted whitesmoke;
}

@media (max-width: 600px) {
  .NavBar .NavBar_ul {
    justify-content: flex-end;
    width: min-content;
  }
}
