.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
}

.board {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 15vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #f72585;
  padding: 1rem;

  display: flex;
  align-items: center;
  flex: 1;
}

.headerContent {
  margin-left: 20px;
}

.header h2 {
  margin: 0;
  color: white;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .header,
  .headerContent {
    flex-direction: column;
  }
}

.content {
  padding: 1rem;
  color: black;

  display: flex;
  flex: 1;
}

.contentLeft {
  width: 47%;
}

.contentRight {
  width: 50%;
  padding-left: 30px;
  border-left: 3px dotted #f72585;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.favButton {
  height: 40px;
  width: 50px;
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
}

.closeButton {
  position: absolute;
  top: 2%;
  height: 40px;
  margin: 5px;
  background-color: transparent;
  border: none;
  width: 50px;
  color: white;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .modal {
    top: 25%;
    left: calc(50% - 10rem);
    width: 20rem;
  }
}
