.NavBar {
  height: fit-content;
  background-color: blue;

  position: sticky;
  float: left;
  top: 0;
  width: 100%;

  /* bounding box */
  margin: 5px;
  border: 3px solid yellow;
  padding: 2px;

  z-index: 69420;
}

.NavBar .NavBar_container {
  /* flexbox */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  height: fit-content;
  z-index: 100;

  /* bounding box */
  margin: 3px;
  border: 3px solid yellow;
  padding: 3px;
}

.NavBar .logo {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.NavBar .NavBar_ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  /* bounding box */
  margin: 3px;
  border: 3px solid gold;
  padding: 3px;
}

.NavBar .NavBar_ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;

  /* bounding box */
  margin: 3px;
  border: 3px solid gold;
  padding: 3px;
  margin-left: 30px;
}

.NavBar a:visited,
a:link {
  color: white;
  text-decoration: none;
}

.NavBar a:hover,
.NavBar a:active,
.NavBar a.active {
  color: whitesmoke;
  padding-bottom: 0.25rem;
  border-bottom: 2px dotted whitesmoke;
}

@media (max-width: 600px) {
  .NavBar .NavBar_ul {
    justify-content: flex-end;
    width: min-content;
  }
}
