@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(to left, #323a49, #362c46);
  color: whitesmoke;
}

strong {
  font-size: 1.2rem;
}

.title {
  font-size: 1.25rem;
  font-family: "Satisfy", cursive;

  /* flexbox */
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

  /* bounding box */
  margin: 2px;
  border: 2px;
  /* border: 2px solid orange; */
  padding: 2px;
}

.centered {
  margin: 2rem auto;

  /* flexbox */
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

  /* bounding box */
  margin: 2px;
  border: 2px solid fuchsia;
  padding: 2px;
}

.searchBar {
  margin: 3rem auto;
  width: 100%;

  /* flexbox */
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  /* bounding box */
  margin: 2px;
  border: 2px;
  /* border: 2px solid cyan; */
  padding: 2px;
}

.searchContainer {
  margin: 3rem auto;

  /* flexbox */
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  flex: 1;

  /* bounding box */
  margin: 2px;
  /* border: 2px solid lime; */
  border: 2px;
  padding: 2px;
}

.searchCard {
  margin: 20px;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.searchCard:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

::-webkit-scrollbar {
  display: none;
}

.searchBox {
  height: 40px;
  width: 300px;
  font-size: 1rem;
  font-style: italic;
  background-color: whitesmoke;
  border: 2px;
  color: lightslategray;
}

.searchButton {
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-left: 10px;
  background-color: #bf1b96;
  border: 1px solid #db208e;
  color: whitesmoke;
  font-size: 1.5rem;
}

.randomButton {
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-left: 10px;
  background-color: #bf1b96;
  border: 1px solid #db208e;
  color: whitesmoke;
  font-size: 1.5rem;
}

.searchButton:hover,
.randomButton:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
